extends: default.liquid
title: Disconnected Systems
---
<div>
  {% for post in posts %}
    <a class="panel" href="{{post.path}}">
      <div class="container">
        <h5>{{ post.title }}</h4>
        <time class="date">{{ post.date | date: "%d %B %Y" }}</time>
        <p>{{ post.description }}</p>
      </div>
    </a>
  {% endfor %}
</div>
