extends: default.liquid
---
<section class="header">
  <div class="container">
    <h1>Disconnected Systems</h1>
    <h6>Programming, Linux and all things Open Source</h6>
  </div>
</section>
<div>
  {% for post in posts %}
    <a class="panel" href="{{post.path}}">
      <div class="container">
        <h5>{{ post.title }}</h4>
        <time class="date">{{ post.date | date: "%d %B %Y" }}</time>
        <p>{{ post.description }}</p>
      </div>
    </a>
  {% endfor %}
</div>
