<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="{{ .Site.BaseURL }}">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link href="//fonts.googleapis.com/css?family=Open+Sans|Montserrat|Rubik+One|Raleway|Concert+One|Russo+One" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/monokai.css">
  <title>{{ .Title }}</title>
</head>
<body>
