<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <base href="{{ .Site.BaseURL }}">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link href="//fonts.googleapis.com/css?family=Open+Sans|Russo+One" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/concise.min.css" />
  <link rel="stylesheet" href="/css/monokai.css">
  <link rel="stylesheet" href="/css/custom.css">
  <title>{{ .Title }}</title>
</head>
<body>
