{{ partial "header.html" . }}
<section class="header">
  <div class="container">
    <h1>{{ .Title }}</h1>
    <h6>Programming, Linux and all things Open Source</h6>
  </div>
{{ partial "navbar.html" . }}
<section class="content">
  {{ range first 50 .Data.Pages }}
    <a class="panel" href="{{ .Permalink }}">
      <div class="container">
        <h5>{{ .Title }}</h4>
        <time class="date">{{ dateFormat "2 Jan 2006" .Date }}</time>
        <p>{{ .Description }}</p>
      </div>
    </a>
  {{ end }}
</section>
