<div id="carousel"></div>
<script src="{{ .Site.BaseURL }}/js/vue.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/vue-carousel.min.js"></script>
<script>
  'use strict';

  var buildSlideMarkup = function buildSlideMarkup(images) {
    var slideMarkup = '';
    for (var i = 0; i < images.length; i++) {
      slideMarkup += '<slide><img width="95%" src="' + images[i] + '"></img></slide>';
    }
    return slideMarkup;
  };

  new Vue({
    el: '#carousel',
    components: {
      'carousel': VueCarousel.Carousel,
      'slide': VueCarousel.Slide
    },
    template: '<div><carousel>' + buildSlideMarkup({{ .Params }}) + '</carousel></div>'
  });
</script>